<form
  class="card border"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h3 class="red" *ngIf="error">{{errMessage}}</h3>
  <h2>Create new password</h2>
  <div class="mt20 form-control">
    <label for="passwordn">Password: </label>
    <input
      id="passwordn"
      type="password"
      formControlName="password"
      [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
    >
    <span
      class="error"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <small *ngIf="form.get('password').errors['required']">
        Password shouldn't be empty.
      </small>
      <small *ngIf="form.get('password').errors['password']">
        Write correct password.
      </small>
    </span>
  </div>
  <button
    type="submit"
    class="mt45"
    [disabled]="form.invalid || form.disabled"
  >
    Change password
  </button>

</form>
