<form
  class="mt20 border p10"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h3
    *ngIf="message"
    [ngStyle]="{color: toggle ? 'green' : 'red'}"
    class="mb20"
  >
    {{message}}
  </h3>
  <div>
    <label for="oldPassword" class="mr10">old password:</label>
    <input
      type="password"
      id="oldPassword"
      formControlName="oldPassword"
      [ngClass]="{'invalid': form.get('oldPassword').invalid && form.get('oldPassword').touched}"
    >
  </div>

  <div class="mt20">
    <label for="newPassword" class="mr10">new password:</label>
    <input
      type="password"
      id="newPassword"
      formControlName="newPassword"
      [ngClass]="{'invalid': form.get('newPassword').invalid && form.get('newPassword').touched}"
    >
  </div>

  <button
    type="submit"
    class="mt20"
    [disabled]="form.invalid || form.disabled"
  >
    Change password
  </button>
</form>
